{% extends "../../../templates/index.html" %}

{% block content %}

    <div class="add_prediction">
        <form class="add_pre" method="POST" action="">
            <div class="agent_name">
                <h5>Agent Name</h5>
                <input type="name" name="agent_name">
            </div>
            <div class="date">
                <h5>date</h5>
                <input type="date" name="date">
            </div>
            <div class="prediction">
                <h5>prediction</h5>
                <input type="radio" name="prediction" value="Rain Today">Rain Today
                <input type="radio" name="prediction" value="No Rain Today">No Rain Today
            </div>
            <div class="weather_man">
                <h5>weather_man_prediction</h5>
                <input type="radio" name="weather_man_prediction" value="Yes">Yes
                <input type="radio" name="weather_man_prediction" value="No">No
            </div>
            <div class="outcomes">
                <h5>outcomes</h5>
                <input type="radio" name="outcomes" value="Yes">Yes
                <input type="radio" name="outcomes" value="No">No
            </div>
            <div class="btn_cancel">
                <button type="submit" name="sbmt" value="Submit"></button>
                <button type="button" name="btncancel" value="Cancel"></button>
            </div>
        </form>
    </div>

{% endblock %}