{% extends "../base.html" %}

<!-- Page Heading -->
{% block page_title %}
    <h1 class="h3 mb-2 text-gray-800">Add Prediction</h1>
{% endblock %}

{% block content %}

    <div class="col-md-3 col-sm-3 col-xs-6"></div>
    <div class="col-md-6 col-sm-6 col-xs-12 border p-3">
        {% if success_status %}
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Success!</strong> {{ msg }}
            </div>
            {% endif %}
        {% if error_status %}
            <div class="alert alert-warning alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Warning!</strong> {{ msg }}
            </div>
        {% endif %}
        <form method="POST" action="#">
            {% csrf_token %}
            <input type="hidden" name="prediction_id" value="{{prediction_id}}" />
            <fieldset class="form-group">
                <div class="row">
                    <legend class="col-form-label col-sm-4 pt-0">Prediction</legend>
                    <div class="col-sm-8">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="prediction" value="Yes">
                            <label class="form-check-label" for="RainToday"> Rain Today </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="prediction" value="No">
                            <label class="form-check-label" for="NoRainToday"> No Rain Today </label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="row">
                    <legend class="col-form-label col-sm-4 pt-0"> Weather Man </legend>
                    <div class="col-sm-8">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="weather_man_prediction" value="Yes">
                            <label class="form-check-label" for="gridRadios1"> Yes </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="weather_man_prediction" value="No">
                            <label class="form-check-label" for="gridRadios2"> No </label>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset class="form-group">
                <div class="row">
                    <legend class="col-form-label col-sm-4 pt-0"> Outcome </legend>
                    <div class="col-sm-8">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="outcome" value="Yes">
                            <label class="form-check-label" for="gridRadios1"> Yes </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="outcome" value="No">
                            <label class="form-check-label" for="gridRadios2"> No </label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6"></div>

{% endblock %}