{% extends "../base.html" %}
{% load static %}

<!-- Page Heading -->
{% block page_title %}
    <h1 class="h3 mb-2 text-gray-800">Predictions</h1>
{% endblock %}          

{% block content %}

    <!-- DataTales Example -->
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="table-responsive">
            <a href="/prediction/admin/add-update" class="btn btn-primary" style="float:right;">Add</a>
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Predition</th>
                    <th>Weather</th>
                    <th>Outcome</th>
                    <th>Created Date</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% if predictions %}
                    {% for prediction in predictions %}
                        <tr>
                            <td> {{ prediction.user.username }} </td>
                            <td> {{ prediction.prediction }} </td>
                            <td> {{ prediction.weather_man_prediction }} </td>
                            <td> {{ prediction.outcomes }} </td>
                            <td> {{ prediction.created_at|date:"M d, Y" }} </td>
                            <td>
                                <a href="/prediction/admin/add-update/?id={{prediction.id}}" class="btn btn-primary">Edit</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#predictModal" onclick="setPredictionId('{{ prediction.id }}')"> Delete </button>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="7" class="text-center">No Information found.</td>
                    </tr>
                {% endif %}
            </tbody>
            </table>
        </div>
    </div>

    <!-- Prediction delete Modal-->
    <div class="modal fade" id="predictModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Are you sure to delete?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            </div>
            <div class="modal-body">Select "Delete" below if you are ready to delete this prediction.</div>
            <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <button class="btn btn-primary" type="button" onclick="deletePrediction()">Delete</button>
            </div>
        </div>
        </div>
    </div>

    <script>

        function setPredictionId(id) {
            $("#predictModal").attr("prediction_id", id);
        }

        function deletePrediction() {
            $("#predictModal").hide();

            $.ajax({
                type: "POST",
                url: "/prediction/delete/",
                data: {
                    "csrfmiddlewaretoken": "{{ csrf_token }}",
                    "prediction_id": $("#predictModal").attr("prediction_id"),
                },
                cache: false,
                dataType: "json",
                success: function(res){
                    //$("#results").append(html);
                    if (res.success_status) {
                        window.location.href = "/prediction/list";
                    }
                },
                error: function(err) {
                    console.log("eeeeeeeeeee");
                    console.log(err)
                }
            });
        }
    </script>
    
{% endblock %}

        