<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Admin - Register</title>
  {% load static %}

  <!-- Custom fonts for this template-->
  <link href="{% static "vendor/fontawesome-free/css/all.min.css" %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static "css/sb-admin-2.min.css" %}" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

  <div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block" style="text-align:center;padding-top:15%;">
            <img src="../static/img/login.png" height="300" width="300" />
          </div>
          <div class="col-lg-7">
            <div class="p-5">
              {% if success_status %}
                <div id="success" class="alert alert-success alert-dismissible">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  <strong>Success!</strong> {{ msg }}
                </div>
              {% endif %}
              {% if error_status %}
                <div id="warning" class="alert alert-warning alert-dismissible">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  <strong>Warning!</strong> {{ msg }}
                </div>
              {% endif %}

              <div id="error" class="alert alert-danger alert-dismissible d-none">
                <!-- <button type="button" class="close" data-dismiss="alert">&times;</button> -->
                <strong>Danger!</strong> <span id="error_txt"></span>
              </div>
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
              </div>
              <form name="signupForm" method="post" onsubmit="return register();">
                {% csrf_token %}
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" class="form-control form-control-user" name="firstName" placeholder="First Name" value="{{ objU.first_name }}" >
                  </div>
                  <div class="col-sm-6">
                    <input type="text" class="form-control form-control-user" name="lastName" placeholder="Last Name" value="{{ objU.last_name }}">
                  </div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control form-control-user" name="email" placeholder="Email Address" value="{{ objU.email }}">
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="password" class="form-control form-control-user" name="password" placeholder="Password">
                  </div>
                  <div class="col-sm-6">
                    <input type="password" class="form-control form-control-user" name="repassword" placeholder="Confirm Password">
                  </div>
                </div>
                <input type="submit" name="Submit" class="btn btn-primary btn-user btn-block" value="Register Account" />
                <hr>
                <a href="#" class="btn btn-google btn-user btn-block">
                  <i class="fab fa-google fa-fw"></i> 
                  Register with Google
                </a>
                <a href="#" class="btn btn-facebook btn-user btn-block">
                  <i class="fab fa-facebook-f fa-fw"></i> 
                  Register with Facebook
                </a>
              </form>
              <hr>
              <div class="text-center">
                <a class="small" href="/forgot-password">Forgot Password?</a>
              </div>
              <div class="text-center">
                <a class="small" href="/sign-in">Already have an account? Login!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
  <script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static "vendor/jquery-easing/jquery.easing.min.js" %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static "js/sb-admin-2.min.js" %}"></script>
  <script>
    function register() {
      $("#success").addClass("d-none");
      $("#warning").addClass("d-none");
      $("#error").addClass("d-none");
      var ret = !0;
      var first_name = $('[name="firstName"]').val().trim();
      var email = $('[name="email"]').val().trim();
      var password = $('[name="password"]').val().trim();
      var repassword = $('[name="repassword"]').val().trim();
      if (first_name.length <= 0) {
        $("#error").removeClass("d-none");
        $("#error_txt").text("Please enter first name.");
        return !1;
      }
      if (email.length <= 0) {
        $("#error").removeClass("d-none");
        $("#error_txt").text("Please enter valid email.");
        return !1;
      }
      if (password.length <= 0) {
        $("#error").removeClass("d-none");
        $("#error_txt").text("Please enter password.");
        return !1;
      }
      if (password.length <= 4) {
        $("#error").removeClass("d-none");
        $("#error_txt").text("Password should be greater than 4 characters.");
        return !1;
      }
      if (repassword.length <= 0) {
        $("#error").removeClass("d-none");
        $("#error_txt").text("Please enter confirm password");
        return !1;
      }
      if (password != repassword) {
        $("#error").removeClass("d-none");
        $("#error_txt").text("Password not matched.");
        return !1;
      }
      return ret;
    }
  </script>

</body>

</html>
