<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin - Reset</title>

    {% load static %}

    <!-- Custom fonts for this template-->
    <link href="{% static "vendor/fontawesome-free/css/all.min.css" %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static "css/sb-admin-2.min.css" %}" rel="stylesheet">

  </head>

<body class="bg-gradient-primary">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block" style="text-align:center;padding-top:3%;">
                <img src="../static/img/login.png" height="250" width="250" />
              </div>
              <div class="col-lg-6">
                <div class="p-5">
                  {% if success_status %}
                    <div id="success" class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Success!</strong> {{ msg }}
                    </div>
                  {% endif %}
                  {% if error_status %}
                    <div id="warning" class="alert alert-warning alert-dismissible">
                      <button type="button" class="close" data-dismiss="alert">&times;</button>
                      <strong>Warning!</strong> {{ msg }}
                    </div>
                  {% endif %}
                  <div id="error" class="alert alert-danger alert-dismissible d-none">
                  <!-- <button type="button" class="close" data-dismiss="alert">&times;</button> -->
                  <strong>Danger!</strong> <span id="error_txt"></span>
                </div>
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Reset Password!</h1>
                  </div>
                  <form name="resetForm" method="post" onsubmit="return resetPassword();">
                    {% csrf_token %}
                    <input type="hidden" name="email" value="{{email}}" >
                    <div class="form-group">
                      <input type="password" class="form-control form-control-user" name="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control form-control-user" name="repassword" placeholder="Confirm Password">
                    </div>
                    <input type="submit" class="btn btn-primary btn-user btn-block" value="Reset">
                    <hr>
                  </form>
                  <div class="text-center">
                    <a class="small" href="/sign-in">Already have an account? Login!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
  <script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static "vendor/jquery-easing/jquery.easing.min.js" %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static "js/sb-admin-2.min.js" %}"></script>
  <script>
    function resetPassword() {
      $("#warning").addClass("d-none");
      $("#error").addClass("d-none");
      var ret = !0;
      var password = $('[name="password"]').val().trim();
      var repassword = $('[name="repassword"]').val().trim();
      if (password.length <= 0) {
        $("#error").removeClass("d-none");
        $("#error_txt").text("Please enter password.");
        return !1;
      }
      if (password.length <= 4) {
        $("#error").removeClass("d-none");
        $("#error_txt").text("Password should be greater than 4 characters.");
        return !1;
      }
      if (repassword.length <= 0) {
        $("#error").removeClass("d-none");
        $("#error_txt").text("Please enter confirm password.");
        return !1;
      }
      if (password != repassword) {
        $("#error").removeClass("d-none");
        $("#error_txt").text("Password not matched.");
        return !1;
      }
      return ret;
    }
  </script>

</body>

</html>
